@import url(./common.css);

.container{
    height: 100vh;
    background-image: url(../src/image/map3.png);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.header{
    text-align: center;
    animation: fadeUp 0.8s ease;
    transition: all 0.6s ease;
}
.header{
    transform: translateY(-100px);
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(-100px);
    }
}
.header>h2{
    color: #183A5A;
    font-size: 66px;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 0 6px 20px rgba(24, 58, 90, 0.12);
}
.header>p{
    font-family: 'Cafe24 Ssurround', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #5B6B7A;

    margin-top: 10px;
    letter-spacing: 1.5px;

    text-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.main_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 150px;
}

.btn{
    display: flex;
    flex-direction: column; /* 👈 위아래로 쌓기 */
    align-items: center;    /* 가운데 정렬 */
    gap: 50px;              /* 버튼 간격 */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    flex-direction: row;
}

.show{
    opacity: 1;
    visibility: visible;
}
.start{
    font-size: 20px;
    padding: 16px 60px; 
    font-weight: 600;

    color: white;
    background: linear-gradient(135deg, #4FACFE, #00F2FE);

    border: none;
    border-radius: 30px;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 168, 232, 0.3);

    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.start:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 168, 232, 0.4);
}
.start:active{
    transform: scale(0.97);
}
#login, #signup{
    font-size: 18px;
    padding: 14px 40px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;          /* 👈 핵심 (같은 너비 강제) */

    color: white;
    background: linear-gradient(135deg, #4FACFE, #00F2FE);

    border: none;
    border-radius: 30px;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 168, 232, 0.3);

    transition: all 0.3s ease;
}
#login:hover,
#signup:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 168, 232, 0.4);
}

#login:active,
#signup:active{
    transform: scale(0.97);
}
#login{
    margin-bottom: 15px;
}